
.footer {
    width: 1441px;
    height: 270px;
    margin-right: -1px;
    background-color: #3c2a1e;
}

.opening-hours {
    width: 448px;
    height: 154px;
    top: 53px;
    left: 17px;
    overflow: hidden;
}

.line {
    width: 448px;
    height: 2px;
    top: 40px;
    left: 0;
}

.contact {
    width: 448px;
    height: 154px;
    top: 53px;
    left: 496px;
    overflow: hidden;
}

.other {
    width: 448px;
    height: 154px;
    top: 53px;
    left: 975px;
    overflow: hidden;
}

.copyright {
    width: 930px;
    height: 38px;
    top: 232px;
    left: 255px;
}