.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    position: absolute;
    z-index: 100;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
}

.logo-container {
    display: inline-flex;
    padding: 0px 0px 0px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 101;
}
.logo{
    width: 30px;
    height: 30px;
}
.logo-text {
    display: flex;
    font-size: 24px;
    font-weight: 700;
    color: #000;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

.search-categories {
    display: flex;
    gap: 30px;
    z-index: 101;
}
.search-categories-drop {
    display: flex;
    gap: 30px;
    z-index: 101;
}

.search {
    display: flex;
    align-items: center;
    position: relative;
}
.search-drop {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}
.search-input-drop {
    width: 100%;
    height: 40px;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    font-family: var(--body-font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.vector {
    position: absolute;
    right: 10px;
    width: auto;
}

.search-input {
    width: 450px;
    height: 40px;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    font-family: var(--body-font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.categories {
    display: flex;
    width: 330px;
    justify-content: space-between;
    align-items: center;
    font-family: var(--body-font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.cart {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    display: flex;
    align-items: flex-end;
    position: relative;
    z-index: 101;
}

.cart-icon {
    padding: 15px;
}

.label {
    display: flex;
    position: absolute;
    justify-content: center;
    top: 32px;
    right: 30px;
    width: 20px;
    height: 20px;
    background-color: #6f4e37;
    border-radius: 10px;

}

.label .text-wrapper {
    display: flex;
    position: absolute;

    color: #fefefe;
}

@media screen and (max-width: 1100px) {

    .search-input {
        width: 320px;
    }

}

@media screen and (max-width: 1000px) {

    .search {
        display: none;
    }

}


@media screen and (max-width: 630px) {
    .search-categories{
        display: none;
    }

    .logo-container {
        flex: 1;
        justify-content: flex-start;
        gap: 10px
    }
}