.voruhus{
    display: block;
}

.text-2 {
    width: 628px;
    height: 520px;
    top: -24px;
    left: 735px;
}

.overlap {
    width: 1440px;
    height: 674px;
    background-color: var(--coffee-with-milk);
    clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0 100%);
}